@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&family=Noto+Kufi+Arabic:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Hanken Grotesk", sans-serif;
  height: 120vh;
}
.result {
  width: 100vw;
  height: 55vh;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.result p {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  font-weight: 500;
  color: hsla(241, 100%, 89%, 0.9);
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: 0 auto;
}
.circle h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}
.circle p {
  padding-bottom: 0;
  padding-top: 5px;
  color: hsl(252, 89%, 75%);
}
.result-content h1 {
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}
.result-content p {
  padding-top: 10px;
  max-width: 290px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
}
.summary {
  background-color: white;
}
.summary-title {
  color: hsl(224, 30%, 27%);
  font-weight: 600;
  margin: 25px 30px;
}
.block {
  height: 56px;
  width: 310px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 18px;
}
.one {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
  position: relative;
}
.reaction {
  position: absolute;
  left: 60px;
  bottom: 15px;
}
.two {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
  position: relative;
}
.memory {
  position: absolute;
  left: 60px;
  bottom: 15px;
}
.three {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
  position: relative;
}
.verbal {
  position: absolute;
  left: 60px;
  bottom: 15px;
}
.four {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
  margin-bottom: 25px;
  position: relative;
}
.visual {
  position: absolute;
  left: 60px;
  bottom: 15px;
}
.score {
  position: absolute;
  left: 225px;
  bottom: 14px;
  color: hsl(242, 16%, 64%);
  font-weight: 500;
}
.owned-score {
  color: hsl(224, 30%, 27%);
}
.btn {
  width: 310px;
  height: 56px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  margin-left: 32.5px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  transition: transform 0.2s;
  margin: auto;
  border: none;
}
.btn p {
  display: flex;
  justify-content: center;
  padding-top: 17px;
  align-items: center;
  cursor: pointer;
}
.btn:hover {
  background-color: hsl(222, 31%, 15%);
  transition: all 0.4s;
}
p {
  font-size: 18px;
}
@media screen and (min-width: 561px) {
  .blocks {
    display: flex;
    justify-content: center;
    margin-top: calc((100vh - 450px) / 2);
  }
  .result {
    width: 330px;
    height: 450px;
    border-radius: 35px;
  }
  .result-content h1 {
    padding-top: 40px;
  }
  .result-content p {
    padding-top: 10px;
    max-width: 220px;
  }
  .summary {
    width: 380px;
    height: 450px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  .summary-block {
    width: 50px;
    height: 450px;
    position: absolute;
    right: 50%;
    background-color: white;
    z-index: -1;
  }
  body {
    background-color: hsl(222, 39%, 94%);
    height: 100vh;
  }
}
